$color-green-dark: #2E5B40;
$color-green-medium: #6D9773;
$color-green-light: #D4E6C6;

$color-peach-dark: #E76F51;
$color-peach-medium: #FBC4AB;
$color-peach-ligth: #FFDAB9;

$color-black: #000000;
$color-white: #FFFFFF;

$font-title: 'Oswald', sans-serif;
$font-subtitle: 'Lato', sans-serif;


$weight-regular: 400;
$weight-medium:  500; 
$weight-bold:    700;


$spacing-unit: 16px
